check process s6asrv1 with pidfile /var/run/seagull/s6a.server.1.pid
	start program = "{{ seagull_path }}/run/S6a.server.starter.sh start 1"
	stop program = "{{ seagull_path }}/run/S6a.server.starter.sh stop 1"
