check process s6acl1 with pidfile /var/run/seagull/s6a.client.1.pid
	start program = "{{ seagull_path }}/run/.monit_starter.sh start 1"
	stop program = "{{ seagull_path }}/run/.monit_starter.sh stop 1"
