#instance,origin_host,origin_realm,dest_host,dest_realm,imsi_start,msisdn_start,amount_of_profiles,ip_start,peer_addr,peer_port,own_sig_addr,own_sig_addr_hex
1,{{ cl1_origin_host }},{{ cl1_origin_realm }},fqdn1.remote.realm.org,{{ cl1_destination_realm }},{{ cl1_imsi_start }},{{ cl1_msisdn_start }},{{ amount_of_imsis }},AA100101,{{ peer_address }},{{ peer_port }},{{ own_sig_address }},{{ own_sig_address_hex }}
2,{{ cl2_origin_host }},{{ cl2_origin_realm }},fqdn2.remote.realm.org,{{ cl2_destination_realm }},{{ cl2_imsi_start }},{{ cl2_msisdn_start }},{{ amount_of_imsis }},BB100101,{{ peer_address }},{{ peer_port }},{{ own_sig_address }},{{ own_sig_address_hex }}
3,{{ cl3_origin_host }},{{ cl3_origin_realm }},fqdn2.remote.realm.org,{{ cl3_destination_realm }},{{ cl3_imsi_start }},{{ cl3_msisdn_start }},{{ amount_of_imsis }},BB100101,{{ peer_address }},{{ peer_port }},{{ own_sig_address }},{{ own_sig_address_hex }}
