#instance,origin_host,origin_realm,dest_host,dest_realm,imsi_start,msisdn_start,amount_of_profiles,ip_start,peer_addr,peer_port,own_sig_addr,own_sig_addr_hex
1,{{ srv1_origin_host }},{{ srv1_origin_realm }},fqdn1.remote.realm.org,{{ srv1_destination_realm }},{{ srv1_imsi_start }},{{ srv1_msisdn_start }},{{ amount_of_imsis }},AA100101,{{ peer_address }},{{ peer_port }},{{ own_sig_address }},{{ own_sig_address_hex }}
2,{{ srv2_origin_host }},{{ srv2_origin_realm }},fqdn2.remote.realm.org,{{ srv2_destination_realm }},{{ srv2_imsi_start }},{{ srv2_msisdn_start }},{{ amount_of_imsis }},BB100101,{{ peer_address }},{{ peer_port }},{{ own_sig_address }},{{ own_sig_address_hex }}
3,{{ srv3_origin_host }},{{ srv3_origin_realm }},fqdn2.remote.realm.org,{{ srv3_destination_realm }},{{ srv3_imsi_start }},{{ srv3_msisdn_start }},{{ amount_of_imsis }},BB100101,{{ peer_address }},{{ peer_port }},{{ own_sig_address }},{{ own_sig_address_hex }}
